@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ripple {
  animation: ripple 1.5s ease-in infinite;
}
.unripple {
  animation: unripple 1.5s linear infinite;
}

@keyframes ripple {
  from {
    transform: scale3d(0.95, 0.95, 1);
  }

  to {
    transform: scale3d(1.12, 1.12, 1);
  }
}

@keyframes unripple {
  from {
    transform: scale3d(1.05, 1.05, 1);
  }

  to {
    transform: scale3d(0.88, 0.88, 1);
  }
}
